<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://dr-caffeine-mac.s3.amazonaws.com/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>tfFOu6jc/ABVAmXA0xfDMUXxCgKOFQaZ+i2JH4vyKhI=</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
